*{
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}
.page{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: fixed;
}
.bgImg{
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    position: relative;
    filter: grayscale(0);
}
.cat{
    position: absolute;
    top:0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 1;
}
.opt{
    position: absolute;
    top:100px;
    color: rgb(215, 231, 231);
    background-color: rgba(0, 0, 0, 0.69);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* width: 50vw; */
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.opt:hover{
    transform: scale(1.1);
}

.fact{
    background-color: rgba(0, 0, 0, 0.69);
    padding: 25px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* width: 70vw; */
    max-width: 70vw;
    position: absolute;
    border-radius: 4px;
    bottom: 110px;
    font-size: x-large;
    display: none;

}

